<!DOCTYPE html>
<html>

<head>
    <title>Heat Map!</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body ng-app='heatApp' ng-controller='heat-con'>
    <div id='field'>
        <div class='cell-row' ng-repeat='r in cells'>
            <div class='cell' ng-repeat='c in r track by $index' id='{{c.x}}-{{c.y}}' style='box-shadow:inset 0 0 1px #fff;background:{{getCol(c.col)}};width:{{500/w}}px;height:{{500/h}}px;'>{{c.col}}</div>
        </div>
    </div>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/angular/angular.min.js"></script>
    <script src="/bootbox.js/bootbox.js"></script>
    <script src="/js/all.js"></script>
</body>

</html>
